<div class="center">
<h2>Create Tweet</h2>
<form method="post" action="/tweets/new">
  <input type="text" name="content" placeholder="Content:"><br>
  <input type="submit" id="submit" value="Create Tweet" class="button">
</form><br>
<button class="button" onclick="window.location='/'">Back</button>
</div>
