<form  action="/tweets" method="post">

<label for="content">Type your tweet here</label>
<br>
<textarea name="content" id="content" rows="8" cols="80" placeholder="I'm tweeting!" required></textarea>
<br>
<input type="submit" id="submit" value="Tweet!">

</form>
