<h2>Make a new account!</h2>

<form action="/signup" method="post">

  <label for="username">Username: </label>
  <input type="text" name="user[username]" id="username" placeholder="e.g. JoeSmith1">

  <label for="email">Email: </label>
  <input type="email" name="user[email]" id="email" placeholder="e.g. JoeSmith@gmail.com">

  <label for="password">Password: </label>
  <input type="password" name="user[password]" id="password">

  <input type="submit" value="Sign Up">

</form>
